<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreEntrega1 - Battau</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <header>
        <div class="logo-container">
            <img src="../imagenes/descarga.jfif">
        </div>
        <h1>Bienvenidos a agencia ISOLA</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./sobre nosotros.html">Sobre Nosotros</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./tienda.html">Tienda de usados</a></li>
                <li><a href="./tu 0km.html">Tu 0km</a></li>
            </ul>
        </nav>
    </header>

    <main>
 
    <div class="section menu">
        <section id="home">
            <h2>Sobre Nosotros</h2>
            <p>Somos un equipo de profesionales liderado por santino Battau</p>
            <a href="https://www.instagram.com/santybattau/">


                <img src="../imagenes/instagram.png" width="100px" height="100px">
                
            </section>
        </div>
            <section id="about">
            <img src="../imagenes/scirocco.png" width="550px" height="450px">
            <img src="../imagenes/golf.png" width="550px" height="450px">
        </section>
        <div class="background-blur"></div>