<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreEntrega1 - Battau</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 
    <header>
        <div class="logo-container">
            <img src="../imagenes/descarga.jfif">
        </div>
        <h1>Bienvenidos a agencia ISOLA</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./sobre nosotros.html">Sobre Nosotros</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./tienda.html">Tienda de usados</a></li>
                <li><a href="./tu 0km.html">Tu 0km</a></li>
            </ul>
        </nav>
    </header>


    <main>
      
        <section id="about"> 
            <h2>Toyota Corolla 2022 </h2>
                <img src="../imagenes/corolla2022.jpg" width="350px" height="300px">
            <h2>US$17.000</h2>
            <p>85.900km totales</p>
        </section>
        <section id="about"> 
            <h2> Volkswagen Gol Trend 2019</h2>
                <img src="../imagenes/gol2019.jpg" width="350px" height="300px">
            <h2>US$15.000</h2>
            <p>52.200km totales</p>
        </section>
        <section id="about"> 
            <h2>Ford Ranger 2021 </h2>
                <img src="../imagenes/ranger2021.jpg" width="350px" height="300px">
            <h2>US$30.500</h2>
            <p>32.700km totales</p>
        </section>
        <section id="about"> 
            <h2>Chevrolet Onix 2020</h2>
                <img src="../imagenes/onix2020.jpg" width="350px" height="300px">
            <h2>US$22.000</h2>
            <p>14.200km totales</p>
        </section>
        <section id="about"> 
            <h2>Volkswagen golf gti 2017</h2>
                <img src="../imagenes/golfgti.jpeg" width="350px" height="300px">
            <h2>US$32.000</h2>
            <p>35000km totales</p>
        </section>
        <section id="about"> 
            <h2>Volkswagen scirocco 2017</h2>
                <img src="../imagenes/sciroccos.png" width="350px" height="300px">
            <h2>US$29.000</h2>
            <p>17.200km totales</p>
        </section>

        <div class="background-blur"></div>