<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreEntrega1 - Battau</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <header>
        
        <div class="logo-container">
            <img src="../imagenes/descarga.jfif">
        </div>
        <h1>Bienvenidos a agencia ISOLA</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./sobre nosotros.html">Sobre Nosotros</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./tienda.html">Tienda de usados</a></li>
                <li><a href="./tu 0km.html">Tu 0km</a></li>

            </ul>
        </nav>
    </header>
</body>
 
    <main>
        <section id="about"> 
            <h2>Fiat cronos 2025 </h2>
                <img src="../imagenes/Fiat cronos.jpg" width="350px" height="300px">
            <h2>US$17.000</h2>
            <p>0km totales</p>
        </section>
        <section id="about"> 
            <h2> Ford raptor 2022</h2>
                <img src="../imagenes/Ford raptor.jpg" width="350px" height="300px">
            <h2>US$55.000</h2>
            <p>0km totales</p>
        </section>
   

        <section id="about"> 
            <h2>mercedes benz c250 2024</h2>
                <img src="../imagenes/mercedes c250.jpg" width="350px" height="300px">
            <h2>US$49.000</h2>
            <p>0km totales</p>
        </section>
            <section id="about"> 
                <h2>Peugeot 208 2023</h2>
                    <img src="../imagenes/208.jpg" width="350px" height="300px">
                <h2>US$20.000</h2>
                <p>0km totales</p>
            </section>
        
        <div class="background-blur"></div>